<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # Explicitly redirect root requests to the /RVA/home/ directory
    RewriteRule ^$ home/ [R=301,QSD,L]

    # Internally serve .html files for clean URLs
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME}\.html -f
    RewriteRule ^(.*)$ $1.html [L]
</IfModule>

DirectoryIndex index.html
