APP_ENV=development

# Base URLs for different environments
DEV_BASE_URL=http://localhost/RVA/school_management
PROD_BASE_URL=https://rosevalleyacademy.page.gd/RVA/school_management

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=rvasupport@gmail.com
SMTP_PASS=your_app_password_here
